<div class="col-lg-2" style="border-right: 1px solid #e7e7e7;">

</div>


<div class="col-lg-10">
    <div class="row">
        <div class="col-lg-12">

            <br/>
            <div class="col-lg-2">
                Настройки
            </div>
            <div class="col-lg-10">
                Инфо
            </div>
            <br/>
            <br/>
            <div class="col-lg-2">
               <!-- ng-pattern      ='/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.(\d{4})$/'-->
                <label >Дата от</label>
                <form name="myform3">
                    <input      type            ="text"
                                name            ="data"
                                class           ="editor form-control"
                                ng-class        =" {'alert-danger':myform3.data.$error.pattern} "
                                ng-pattern      ='/^(\d{4})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$/'
                                ng-model        ="a.DateFrom"
                                ng-maxlength    ="10"
                                ng-minxlength   ="10"
                                ng-required     ="true"
                                uib-tooltip         ="Пример: 1987-01-01 , Формат даты: гггг.мм.дд"
                                tooltip-trigger ="focus"
                                tooltip-placement="top"
                                placeholder     ="Пример: 1987-01-01"
                            />
                </form>
                <span  ng-show="myform3.data.$error.pattern">не верный формат!</span>

                <br/>
                <label >Дата до</label>
                <form name="myform2">
                    <input      type            ="text"
                                name            ="data"
                                class           ="editor form-control"
                                ng-class        ="{'alert-danger':myform2.data.$error.pattern} "
                                ng-pattern      ='/^(\d{4})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$/'
                                ng-model        ="a.DateTo"
                                ng-maxlength    ="10"
                                ng-minxlength   ="10"
                                ng-required     ="true"
                                uib-tooltip         ="Пример: 1987-01-30 , Формат даты: гггг.мм.дд"
                                tooltip-trigger ="focus"
                                tooltip-placement="top"
                                placeholder     ="Пример: 1987-01-30"
                            />
                </form>
                <span  ng-show="myform2.data.$error.pattern">не верный формат!</span>
                <br/>

                <label for="inputPassword">Шаг</label>
                <select class="form-control ng-pristine ng-valid ng-touched" ng-model="a.Step" ng-options="d.ID as d.Name for d in shag">  <!--d.ID as d.Name-->
                    <option value="">Выберете шаг</option>
                </select>
                <br/>

                <label for="inputPassword">Сотрудник</label>
                    <select class="form-control ng-pristine ng-valid ng-touched" ng-model="a.emID" ng-options="c.emID as c.emName for c in em | filter:{IsActive:true}">
                        <option value=""></option>
                    </select>
                <br/>

                <button ng-show="a.Step && a.DateFrom && a.DateTo" class="form-control btn btn-success" style="width: 150px" ng-click="Save(a)">Сформировать</button>
            </div>

            <div class="col-lg-10" style="border-right: 1px solid #e7e7e7; overflow-y: auto; height:94vh; " can-load="canLoad" infinite-scroll="manyAction.loadMore()"  threshold="100">

                <table ng-table="tableParams" show-filter="false" class="table table-head-fixed table-hover borderless">
                    <tbody>
                    <tr ng-repeat="e in data | filter:searh| limitTo:limit track by $index" >

                        <td data-title="'Период'" ng-bind="e.Period | date:'short'" header-class="'text-left'"></td>

                        <td data-title="'Сотрудник'" header-class="'text-left'">
                            <a ui-sref="emEmployeeEdit( {'emID': e.emID })">
                                {{e.emName}}
                            </a>
                        </td>

                        <td data-title="'Статус'"  header-class="'text-left'">
                            <span ng-bind="(e.disposition|CallStatus).disposition" class="badge {{(e.disposition | CallStatus).color}}"></span>
                        </td>

                        <td data-title="'Количество звонков'"   header-class="'text-left'">
                            <span class="badge " title="Кол. звонков" ng-show="e.QtyCall > 0" ng-bind="e.QtyCall"></span>
                        </td>

                    </tr>
                    </tbody>
                </table>

               <!-- <div class="col-md-12">
                    <highchart  config="chartConfig" ></highchart>
                </div> -->
            </div>


        </div>
    </div>
</div>
