<div ng-include="'/build/Us/Enums/Views/filter.html'"></div>

<div  class="card card-info card-outline" >
    <ng-include src="'/Views/findPlaceholder.html'"></ng-include>

<div class="card-body  p-0">
    <div class="row">
        <div class="col-lg-12" style="overflow-y: auto; height: 65vh;" can-load="canLoad" infinite-scroll="manyAction.loadMore(data.length)"  threshold="100">
            <ng-include src="'/Views/LoadingTable.html'"></ng-include>
            <table class="table table-head-fixed table-bordered table-hover" ng-hide="global.Loading || data.length < 1">
                <tr ng-click="manyAction.Find()">
                    <th ng-include="'/Views/ng-table/checkbox.html'" ng-click="$event.stopPropagation()" width="1%"/>
                    <th ng-init="o1='Name'" ng-click="manyAction.order(o1);">
                        <nobr>{{'names' | translate}} <span ng-show="order==o1" ng-include="'/Views/orderSpan.html'"/></nobr>
                    </th>
                    <th ng-init="o2='tyID'" ng-click="manyAction.order(o2);">
                        <nobr>{{'type' | translate}} <span ng-show="order==o2" ng-include="'/Views/orderSpan.html'"/></nobr>
                    </th>
                    <th ng-init="o4='tvID'" ng-click="manyAction.order(o4);">
                            <nobr>{{'ID' | translate}} <span ng-show="order==o4" ng-include="'/Views/orderSpan.html'"/></nobr>
                        </th>
                    <th ng-init="o3='isActive'" ng-click="manyAction.order(o3);">
                        <nobr>{{'active' | translate}} <span ng-show="order==o3" ng-include="'/Views/orderSpan.html'"/></nobr>
                    </th>
                </tr>
                <tr ng-repeat="e in data | limitTo:limit track by $index" >
                    <td ng-include="'/Views/checkboxOne.html'"/>
                    <td >  <a ng-href="/#!/EnumsEdit/{{e.tvID}}"> {{e.Name}} </a> </td>
                    <td > <span ng-bind="e.tyID | enumsType"></span> <span>( {{e.tyID}} )</span> </td> <!--| enums -->
                    <td ng-bind="e.tvID"> </td>
                    <td width="1%"><label><input type="checkbox" cb-switch disabled ng-model="e.isActive"></label></td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-include="'/Views/pagination.html'"></div>
</div>
</div>