<div class="row">  
    <div class="col-md-4">
          <!--TAGS-->
          <div class="card card-info card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><i class="fas fa-edit"></i> 
                   <b>{{'account' | translate}}</b>
              </h3>

              <div class="card-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="row">  
              <div class="col-lg-12">
                    <table class="table table-head-fixed table-hover borderless">
                        <tbody>
                            <tr>
                                <td>{{'client'|translate}}</td>
                                <td>
                                    <div class="has-error" ng-hide="client" ng-form="subForm">
                                        <input
                                            name="name"
                                            type="text"
                                            class="form-control"
                                            ng-model="searchclient"
                                            uib-typeahead="a as a.clName for a in manyAction.SearchClient($viewValue)"
                                            class="form-control"
                                            placeholder="{{'selectCustomer'| translate}}"
                                            typeahead-wait-ms="250"
                                            ng-class="{'nonBorder': searchclient}"/>
                                        <label ng-show='!searchclient' class="control-label" ><i class="fa fa-times-circle-o"></i> {{'inputTypefield'|translate}}</label>
                                    </div>
                                    <b ng-show="client">{{client.clName}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'numberNum'| translate}}</td>
                                <td><input class="form-control" type="text" ng-model="new.dcNo" placeholder="{{'nameNewDeal' | translate}}"></td>
                            </tr>
                            <tr>
                                <td>{{'documentNumber'| translate}}</td>
                                <td><input class="form-control" type="text" ng-model="new.HasDocNo" placeholder="{{'documentNumber' | translate}}"></td>
                            </tr>
                            <tr>
                                <td>{{'date' | translate}}</td>
                                <td>
                                  <div class="form-group">
                                      <p class="icon-group input-group">
                                        <input ng-model="new.dcDate" class="form-control" ng-model-options="{ updateOn: 'blur' }">
                                          <span class="input-group-append">
                                            <button moment-picker="new.dcDate"
                                                    format="YYYY-MM-DD"
                                                    today="true"
                                                    locale="ru"
                                                    start-view="month"
                                                    change="ctrl.setFormattedDate(newValue)"
                                                    type="button" class="btn btn-default">
                                              <i aria-hidden="true" class="fa fa-calendar"></i>
                                            </button>
                                          </span>
                                      </p>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'status' | translate}}</td>
                                <td>
                                    <ui-select ng-model="new.dcStatus" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                            <ui-select-match >{{$select.selected.Name | translate}}</ui-select-match>
                                            <ui-select-choices repeat="a.tvID as a in Enums.group[10] | filter: $select.search" >
                                                {{a.Name | translate}}
                                            </ui-select-choices>
                                        </ui-select>
                            </td>
                                </tr>
                                <tr>
                                    <td>{{'responsible' | translate}}</td>
                                    <td>
                                        <ui-select ng-model="new.emID" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                            <ui-select-match >{{$select.selected.emName}}</ui-select-match>
                                            <ui-select-choices repeat="a.emID as a in employees.data | filter: $select.search | filter:{isActive:true}" >
                                                {{a.emName}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                            </tr>
                            <tr>
                                <td>{{'description' | translate}}</td>
                                <td>
                                    <textarea only-clear  maxlength="200" ng-model="new.dcComment" msd-elastic style="min-height: 102px; background-color: lightgoldenrodyellow;color: dimgrey" class="form-control" rows="3" id="comment" placeholder="{{'descriptionType' | translate}} "></textarea>
                                </td>
                            </tr>
                            <tr>
                                <!-- <td ng-show="new.dcLink">{{'relatedDocument' | translate}}</td>
                                <td>
                                    <span class="text-muted" ng-bind="DcLink.dcDate | date:'MMM d'"> </span>
                                    <br/>

                                    <b  ng-bind="DcLink.dctName"> </b>

                                    <span ng-show="DcLink.dcStatus" class="label {{(DcLink.dcStatus | CallStatus).color}}">
                                        <i class="fa fa-arrow-left"   ng-show="DcLink.IsOut"  title="{{DcLink.IsOut | CallTypeFilters}}" style="color:green"></i>
                                        <i class="fa fa-arrow-right"  ng-show="!DcLink.IsOut" title="{{DcLink.IsOut | CallTypeFilters}}" style="color:blue"></i>
                                        {{(DcLink.dcStatus | CallStatus).disposition}}
                                    </span>
                                </td> -->
                                <td colspan="2" ng-show="new.dcLink">
                                    <table ng-table="table" class="table table-head-fixed table-hover" >
                                        <tr>
                                            <th>{{'phone' | translate}}</th>
                                            <th>{{'date' | translate}}</th>
                                            <th>{{'status' | translate}}</th>
                                            <!-- <th>{{'responsible' | translate}}</th>
                                            <th>{{'source' | translate}}</th> -->
                                            <th>{{'recording' | translate}}</th>
                                        </tr>
                                        <tr ng-repeat="e in DcLink | limitTo:limit track by $index" >
                                            <td>  <div ng-include="'/Views/DialButton.html'"></div> </td>
                                            <td>
                                                <nobr uib-tooltip="{{'talkTime'| translate}}:{{e.billsec}}  {{'duration'| translate}}:{{e.duration}}  {{'expectation'| translate}}:{{e.holdtime}}" >
                                                    <span class="text-muted" ng-hide="e.isToday" ng-bind="e.Created | date:'MMM d, HH:mm'"> </span>
                                                    <span class="text-muted" ng-show="e.isToday" ng-bind="e.Created | date:'HH:mm'"> </span>
                                                </nobr>
                                            </td>
                                            <td>
                                                <div class="btn-group" ng-show="e.dcStatusName">
                                                    <button class="btn btn-link btn-xs">
                                                        <i class="fa fa-arrow-circle-up fa-lg"  ng-show="e.IsOut"    aria-hidden="true" uib-tooltip="{{e.IsOut | CallTypeFilters}}" style="color:grey;"></i>
                                                        <i class="fa fa-arrow-circle-down fa-lg"  ng-show="!e.IsOut"   aria-hidden="true" uib-tooltip="{{e.IsOut | CallTypeFilters}}" style="color:black;"></i>
                                                    </button>
                                                    <button class="btn {{(e.dcStatusName | CallStatus).color}} btn-xs" ng-bind="(e.dcStatusName | CallStatus).disposition"  uib-tooltip="{{e.CallType | enums | translate}}"></button>
                                                </div>
                                            </td>
                                            <td> <audio-player index = {{$index}} source="{{manyAction.MonitorUrl(e.LinkFile)}}" ng-show="e.LinkFile && e.dcStatusName == 'ANSWERED'"> </audio-player> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr ng-show="new.dcSum">
                                <td>{{'amount' | translate}}</td>
                                <td><b><span  ng-bind="new.dcSum"></span> {{'UAH' | translate}}. </b></td>
                            </tr>
                        </tbody>
                    </table>
              </div>
              </div>
            </div>
          </div>
        </div>


        <!--DATA RIGHT-->
        <div class="col-md-8">
          <div class="card card-info card-outline">
            <div class="card-header with-border">
              <b><h3 class="card-title">
                    {{'product'|translate}}
              </h3></b>
              <div class="card-tools float-right">
                    <button ng-disabled="!new.dcNo  || !new.clID" ng-click="manyAction.Save(new,'');ItemsEdit(Items);$close()" class="btn btn-success btn-sm">{{'save'|translate}}</button>
                    <button type="button" class="btn btn-warning btn-sm" ng-click="$close()">{{'cancel'|translate}}</button>
              </div>
             </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <pre>{{new|json}}</pre>
                <div class="table table-head-fixed-responsive mailbox-messages" style="overflow-x: unset;">
                 <div class="col-lg-12" >
                        <table class="table table-head-fixed table-hover borderless"  style="margin: 1% 0;">
                            <tr>
                                <th></th>
                                <th>{{'names' | translate}}</th>
                                <th>{{'price' | translate}}</th>
                                <th>{{'number' | translate}}</th>
                            </tr>
                            <tr ng-repeat="e in Items | filter:searh" >
                                <td header-class="'text-left'" style="width:5%">
                                    <button class="btn btn-link">    <i class="fa fa-shopping-cart fa-lg" style="margin-right: 3%;color:brown;"> </i> </button>
                                </td>
                                <td header-class="'text-left'" style="width: 40%;">
                                    <ui-select ng-model="e.psID" theme="bootstrap4-1" class="normal bg-custom-white" on-select="psName(e,$select.selected);">
                                        <ui-select-match allow-clear="true">{{$select.selected.psName}}</ui-select-match>
                                        <ui-select-choices repeat="a.psID as a in Products | filter: $select.search" >
                                            {{a.psName}}
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                        <div class="input-group" ng-show="e.psID>0">
                                                <input numeric-only class="form-control" ng-change="Sum()" ng-model="e.iQty" ng-disabled="e.iQty < 1">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default" ng-click="e.iQty=e.iQty+1;Sum();"  ><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-default" ng-click="e.iQty=e.iQty-1;Sum();"  ng-disabled="e.iQty <= 1 || upd.iQty <= 0"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                                </span>
                                        </div>
                                </td>
                                <td>
                                        <div class="input-group" ng-show="e.psID>0">
                                                <input numeric-only class="form-control" ng-change="Sum()" ng-model="e.iPrice" ng-disabled="e.iPrice < 1">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default" ng-click="e.iPrice=e.iPrice+1;Sum();"  ><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-default" ng-click="e.iPrice=e.iPrice-1;Sum();"  ng-disabled="e.iPrice <= 1 || upd.iPrice <= 0"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                                </span>
                                        </div>
                                </td>
                                <td width="1%" ng-click="dellItems($index);Sum();"><a class="btn"><i class="fa fa-trash"> </i></a></td>
                            </tr>
                        </table>
                        <br/>
                        <a style="cursor: pointer;" ng-click="addItems()"><i class="fa fa-plus"></i> {{'addProduct' | translate}}</a>
                        <br/><br/>
                        <a ng-click="$event.stopPropagation()"> <create-product/> </a>
                        <br/><br/>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
</div>

<div class="well" style="background-color: white">
    <div>
        <div class="text-right col-md-12">
            <!-- <button ng-click="formClassInvalid = 'invalid-form-class';uiSelectSetClass(); InvoiceForm.$valid && uiSelectClassValidation.valid && InvoiceItemsForm.$valid && PostInvoiceItems(invoice,'');$close()" class="btn btn-success">Добавить</button>  -->
            <button ng-disabled="!new.dcNo || !new.clName || !new.dcSum" ng-click="PostInvoiceItems(invoice,'');$close()" class="btn btn-success">{{ 'save' | translate }}</button>
            <button ng-click="cancel()" class="btn btn-warning">{{ 'clear' | translate }}</button>
            <button ng-click="$close();close()" class="btn btn-warning">{{ 'cancel' | translate }}</button>
        </div>
    </div>
<form class="css-form" ng-class="formClassInvalid" name="InvoiceForm">
    <table class="table table-head-fixed noBoard">
        <tbody>
          <tr>
            <td width="25%">{{ 'numberNum' | translate }}</td>
            <td width="25%"><input class="form-control" ng-model="new.dcNo"></td>
            <td width="25%">{{ 'date' | translate }} </td>   
            <td width="25%">
                  <div class="input-group md-3">
                      <input ng-model="new.dcDate" class="form-control" ng-model-options="{ updateOn: 'blur' }" style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;">
                      <div class="input-group-append">
                            <button moment-picker="new.dcDate" format="YYYY-MM-DD" class="btn btn-default">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                      </div>
                  </div>
          </tr>
          <tr>
            <td>{{ 'VAT' | translate }}</td>
            <td>
              <div class="input-group">
                    <input numeric-only class="form-control" ng-model="new.VATSum" ng-disabled="new.VATSum < 1">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-default" ng-click="new.VATSum=new.VATSum+1;"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default" ng-click="new.VATSum=new.VATSum-1;" ng-disabled="new.VATSum <= 1 || new.VATSum <= 0"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </span>
              </div>
              <!-- <input type="number" class="form-control" ng-model="new.VATSum"  min="0"> -->
            </td>

            <td>{{ 'foundationDocument' | translate }}</td>
            <td>
              <div class="input-group">
                    <input ng-required="true" class="form-control" ng-model="new.dcDisplayLink"
                      disabled>
                    <span class="input-group-append">
                         <open-docs-link-search data="invoice"/>
                    </span>
                </div>
            </td>
          </tr>
          <tr>
            <td>{{ 'Comment' | translate }} </td>
            <td ><input type="text" class="form-control" ng-model="new.dcComment"></td>
            <td>{{ 'amount' | translate }}</td>
            <td>
                <div class="input-group">
                    <input numeric-only class="form-control" ng-model="new.dcSum" ng-disabled="new.dcSum < 1">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-default" ng-click="new.dcSum=new.dcSum+1;"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-default" ng-click="new.dcSum=new.dcSum-1;" ng-disabled="new.dcSum <= 1 || new.dcSum <= 0"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </span>
              </div>
              <!-- <input type="number" class="form-control" ng-model="new.dcSum" min="0" ng-required="true"> -->
            </td>
          </tr>
          <tr>
            <td>{{ 'status' | translate }} </td>
            <td>
                    <ui-select ng-model="new.dcStatus" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                        <ui-select-choices repeat="c.tvID as c in Enums.group[10]| filter: $select.search" >
                          <span ng-bind="c.Name | translate"></span>
                        </ui-select-choices>
                    </ui-select>
            </td>
            <!-- <td ng-show="deal.emName"><input class="form-control" ng-model="deal.emName" ng-disabled=true></td> -->

            <td>{{ 'clientName' | translate }}</td>
            <td>
              <div class="input-group">
                <input class="form-control" type="text" ng-model="new.clName" disabled ng-required="true">
                <span class="input-group-append">
                        <open-client-search data="invoice"/>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{ 'delivery' | translate }}</td>
            <td>
            <input type="textarea" class="form-control" ng-model="new.Delivery" ng-required="true">
          </td>

          <td>{{ 'responsible' | translate }}</td>
          <td>
            <ui-select ng-model="new.emID" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
              <ui-select-match allow-clear="false">{{$select.selected.emName}}</ui-select-match>
              <ui-select-choices repeat="a.emID as a in employees.data | filter: $select.search"" >
                {{a.emName}}
              </ui-select-choices>
            </ui-select>
          </td>
        </tr>

       </tbody>
    </table>
</form>

</div>

<!-- INVOICE ITEMS -->
<div class="well" style="min-height:100px; background-color: white">
  <div class="text-right" style="float:right">
      <button class="text-right btn btn-primary" ng-click="addInvoiceItem(); console.log(Items) " style="margin:2%; margin-right: 10px ;color: #fff;background-color: #0275d8;border-color: #0275d8;">
          <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
  </div>

  <form novalidate class="css-form" ng-class="formClassInvalid" name="InvoiceItemsForm">
    <!-- <table class="table table-head-fixed noBoard " ng-table="tableParams" ng-show="Items.length || deal" style="margin: 1% 0;">
            <tr>
              <th>№</th>
              <th>{{ 'named' | translate }}</th>
              <th>{{ 'number' | translate }}</th>
              <th>{{ 'price' | translate }}</th>
              <th>{{ 'Comment' | translate }}</th>
            </tr>
            <tr ng-repeat="invoiceItem in Items"  >
                <td >
                     {{invoiceItem.iNo}}
                </td>
                <td style="width: 300px">
                    <div class="input-group">
                      <span class="input-group-append">
                          <button class="form-control"> <create-product data="Items"/> </button>
                      </span>
                      <div ng-model="invoiceItem.psName" >
                        <ui-select ng-model="invoiceItem.psID;" theme="bootstrap4-1" class="normal bg-custom-white" size="100%" on-select="invoiceItem.psName = $select.selected.psName" >
                          <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.psName}}</ui-select-match>
                          <ui-select-choices repeat="c.psID as c in Products| filter: $select.search" >
                            {{c.psName}}
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                </td>
                <td >
                  <input class="form-control" type="number" ng-required="true" ng-model="invoiceItem.iQty"   min="1" ng-change="getSum(Items);"/>
                </td>
                <td >
                  <input class="form-control" type="number" ng-required="true" ng-model="invoiceItem.iPrice" min="1" ng-change="getSum(Items);" />
                </td>
                <td >
                     <input class="form-control" type="text" ng-model="invoiceItem.iComments" />
                </td>
                <td header-class="'text-left'">
                      <button class="text-right btn btn-danger" ng-click="delInvoiceItem(invoiceItem)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                </td>
            </tr>
        </table> -->
        <table class="table table-head-fixed table-hover borderless" ng-show="Items.length || deal">
            <tr>
                <th> </th>
                <th>{{'named' | translate}}</th>
                <th>{{'number' | translate}}</th>
                <th>{{'amount' | translate}}</th>
                <th>{{'Comment' | translate }}</th>
                <th>{{'del' | translate}}</th>
            </tr>
            <tr ng-repeat="e in Items">
                <td width="1%">
                    <i class="fa fa-shopping-cart fa-lg" style="color:brown;">
                </td>
                <td width="20%">
                    <ui-select ng-model="e.psID" theme="bootstrap4-1" class="normal bg-custom-white" size="100%" on-select="psName(e)">
                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.psName}}</ui-select-match>
                        <ui-select-choices repeat="a.psID as a in Products | filter: $select.search" >
                            {{a.psName}}
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <div class="input-group" ng-show="e.psID>0">
                            <input numeric-only class="form-control" ng-change="Sum()" ng-model="e.iQty" ng-disabled="e.iQty < 1" ng-change="getSum(Items);">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-default" ng-click="e.iQty=e.iQty+1;Sum();"  ><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default" ng-click="e.iQty=e.iQty-1;Sum();"  ng-disabled="e.iQty <= 1 || upd.iQty <= 0"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            </span>
                    </div>
                </td>
                <td>
                    <div class="input-group" ng-show="e.psID>0">
                            <input numeric-only class="form-control" ng-change="Sum()" ng-model="e.iPrice" ng-disabled="e.iPrice < 1" ng-change="getSum(Items);">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-default" ng-click="e.iPrice=e.iPrice+1;Sum();"  ><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default" ng-click="e.iPrice=e.iPrice-1;Sum();"  ng-disabled="e.iPrice <= 1 || upd.iPrice <= 0"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            </span>
                    </div>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="invoiceItem.iComments" />
               </td>
                <td width="1%" ng-click="delInvoiceItem(invoiceItem)"><a class="btn"><i class="fa fa-trash"> </i></a></td>
            </tr>
        </table>
  </form>
</div>