<div class="well">
    <div>
         <div class="btn-group inline" style="float:right">
             <button ng-click="formClassInvalid = 'invalid-form-class';uiSelectSetClass();CompletionForm.$valid && uiSelectClassValidation.valid && CompletionItemsForm.$valid && PostCompletionItems(Completion,'Completion/'+Completion.dcID);" class="btn btn-success">Сохранить</button>
            <button ng-click="DeleteCompletion('Completion');" class="btn btn-warning">Удалить</button>
        </div>
    </div>
      <div style="float:left">
    		Создан <a ng-href="/#!/edit/employee/{{e.Created}}">{{e.Created | emFilters}}</a> - {{Completion.Created | date:'dd.MM.yyyy HH.mm'}}
    		<span ng-hide="!Completion.ChangedBy">
    			Отредактирован <a ng-href="/#!/edit/employee/{{e.ChangedBy}}">{{e.ChangedBy | emFilters}}</a> - {{Completion.Changed | date:'dd.MM.yyyy HH.mm'}}
    		</span>
        <div  ng-include = "'build/Favorites/Views/FavoritesInnerView.html'"></div>
    	</div>
    </div>
<form class="css-form" ng-class="formClassInvalid" name="CompletionForm">
    <table class="table table-head-fixed table-bordered">
        <tbody>
          <tr>
            <td class="col-md-3">Номер</td><td class="col-md-3 "><input type="text" class="form-control" ng-model="Completion.dcNo" ng-required="true"></td>
            <td class="col-md-3">Дата</td>   <td class="col-md-3">
              <!-- <p class="input-group custom-datepicker-buttons">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="Completion.dcDate" ng-required="true" is-open="datepicker.opened" datepicker-options="dateOptions" />
                    <span class="input-group-append">
                    <button type="button" class="btn btn-default" ng-click="datepickerOpen()"><i class="fa fa-calendar"></i></button>
                    </span>
                </p> -->

                                 <p class="icon-group input-group">
                                    <input ng-model="Completion.dcDate" class="form-control" ng-model-options="{ updateOn: 'blur' }" placeholder="{{'select a date' | translate}}">>
                                      <span class="input-group-append">
                                        <button moment-picker="Completion.dcDate"
                                                format="YYYY-MM-DD"
                                                today="true"
                                                locale="ru"
                                                start-view="month"
                                                type="button" class="btn btn-default">
                                          <i aria-hidden="true" class="fa fa-calendar"></i>
                                        </button>
                                      </span>
                                  </p>
            </td>
          </tr>
          <tr>
            <td>НДС</td>   <td><input type="number" class="form-control" ng-model="Completion.VATSum"  min="0"></td>
            <td>Документ основания</td>
            <td>
              <div class="input-group">
                    <input ng-required="true" class="form-control" ng-model="Completion.dcDisplayLink"
                      disabled>
                    <span class="input-group-append">
                         <open-docs-link-search data="Completion"/>
                    </span>
                </div>
            </td>
          </tr>
          <tr>
            <td>Коментарий</td>   <td><input type="text" class="form-control" ng-model="Completion.dcComment"></td>
            <td>Сума</td>   <td><input type="number" class="form-control" ng-model="Completion.dcSum" min="1" ng-required="true"></td>
          </tr>
          <tr>
            <td>Статус</td>   <td>
              <ui-select ng-model="Completion.dcStatus" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                          <ui-select-match >{{$select.selected.p.Name}}</ui-select-match>
                          <ui-select-choices repeat="a.p.tvID as a in enumsResult | filter: $select.search" >
                            {{a.p.Name}}
                        </ui-select-choices>
                    </ui-select>
            </td>
            <td>Имя клиента</td>   <td>
              <div class="input-group">
                    <input class="form-control" type="text" ng-model="Completion.clName" disabled ng-required="true">
                    <span class="input-group-append">
                        <open-client-search data="Completion"/>
                    </span>
                </div>
            </td>
          </tr>
          <tr>
            <td>Доставка</td>   <td>
              <input type="textarea" class="form-control" ng-model="Completion.Delivery" ng-required="true">
            </td>

            <td>Ответственный</td>
            <td>
              <ui-select ng-model="Completion.emID"  theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                <ui-select-match allow-clear="false">{{$select.selected.emName}}</ui-select-match>
                <ui-select-choices repeat="a.emID as a in employees.data | filter: $select.search" >
                  {{a.emName}}
                </ui-select-choices>
              </ui-select>
            </td>
          </tr>
        </tbody>
    </table>
</form>

</div>

<!-- Completion ITEMS -->
<div class="well" style="min-height:100px">
            <div class="text-right" style="float:right">
                <button class="text-right btn btn-primary" ng-click="addCompletionItem()" style="margin:2%; margin-right: 10px ;color: #fff;background-color: #0275d8;border-color: #0275d8;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>

<form novalidate class="css-form" ng-class="formClassInvalid" name="CompletionItemsForm">
    <table class="table table-head-fixed table-hover table-bordered" ng-table="tableParams" ng-show="CompletionItems.length" style="margin: 1% 0;">
            <tr ng-repeat="CompletionItem in CompletionItems"  >

                <td data-title="'№'" header-class="'text-left'">
                     {{CompletionItem.iNo}}
                </td>

                <td data-title="'Название'" header-class="'text-left'" style="width: 300px">
                    <div class="input-group">
	                    <span class="input-group-append">
	                        <button class="form-control" ng-click="openProductAddModal();"><i class="fa fa-plus" aria-hidden="true"></i></button>
	                    </span>
	                    <div ng-model="CompletionItem.iName">
                        <ui-select ng-click="uiSelectClassValidation.dirty = true; uiSelectSetClass();"
                         reset-search-input="false"
                          ng-model="$select.search"
                           model="$select.search"
                            theme="bootstrap4-1"
                           	ng-init="$select.search = CompletionItem.iName"
                             class="{{uiSelectClassValidation.class}}"
                             style="width: 100%;">
                        	<ui-select-match  placeholder="{{'select' | translate}}">{{CompletionItem.iName = $select.search;$select.selected; }}</ui-select-match>
                        	<ui-select-choices repeat="a in ProductNames | filter: $select.search">
                        		{{a}}
                        	</ui-select-choices>
                        </ui-select>
                        </div>
                    </div>

                </td>

                <td data-title="'Количество'" header-class="'text-left'">
                    <input class="form-control" type="number" ng-required="true" ng-model="CompletionItem.iQty" min="1" />
                </td>

                <td data-title="'Цена'" header-class="'text-left'">
                     <input class="form-control" type="number" ng-required="true" ng-model="CompletionItem.iPrice" min="0" />
                </td>

                <td data-title="'Комментарий'" header-class="'text-left'">
                     <input class="form-control" type="text" ng-model="CompletionItem.iComments" />
                </td>
                <td  header-class="'text-left'">
                      <button class="text-right btn btn-danger" ng-click="delCompletionItem(CompletionItem)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                </td>
            </tr>
        </table>
</div>
</form>

