<div class="card card-info card-outline">
        <div class="card-header">
            <h3 class="card-title" translate="filters"></h3>
            <div class="card-tools">
                <global-button2 url="CallBackNew"></global-button>
            </div>
        </div>
    
        <div class="card-body p-0">
            <div class="card-footer">
                <div class="row">     
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <ng-include src="'/Views/actives.html'"></ng-include>
                        </div>
               </div>
            </div>
        </div>
</div>