<section class="content">
      <div class="row">
        <div class="col-lg-4">
          <!--TAGS-->
          <div class="card card-info card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><i class="fas fa-edit"></i> {{'data' | translate}}</h3>

              <div class="card-tools">
                
              </div>
            </div>
            <div class="card-body p-0">
                 <table class="table table-head-fixed table-bordered table table-striped" >
                    <tbody>
                    <tr>
                        <td>{{'role' | translate}}</td>
                        <td><input class="form-control" ng-model="new.roleName"></td>
                    </tr>
                    <tr>
                        <td>{{'accessLevel' | translate}}</td>
                        <td><input class="form-control" type="number" ng-model="new.Permission"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>

        <!--DATA RIGHT-->
        <div class="col-lg-8">
        <!--   <div class="card card-info card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"> {{'info' | translate}}</h3> -->
                    <div class="card-tools float-right">
                        <button class="btn btn-success btn-sm" ng-click="manyAction.Save(new,'Role')" ng-disabled=" !new.roleName && !new.Permission">{{'save' | translate}}</button>
                        <button class="btn btn-warning btn-sm" ui-sref="Role">{{'cancel' | translate}}</button>
                    </div>
         <!--     </div>
          </div> -->
        </div>
    </div>
</section>