<div class="card card-info card-outline">
        <div class="card-header">
            <h3 class="card-title" translate="filters"></h3>
            <div class="card-tools">
                <global-button2 url="employee"></global-button>
            </div>
        </div>

        <div class="card-body p-0">
            <div class="card-footer">
                <div class="row"> 
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <b>{{'role'| translate}}</b>
                                <!-- <div class="input-group"> -->
                                    <ui-select ng-model="model.roleID" ng-change="manyAction.Find();" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                        <ui-select-match placeholder="{{'select' | translate}}">{{$select.selected.roleName | translate}}</ui-select-match>
                                        <ui-select-choices repeat= "a.roleID as a in Role.data | filter: $select.search" >
                                                {{a.roleName | translate}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!-- <span class="input-group-append">
                                        <button ng-show="model.roleID" type="button" class="btn btn-default" ng-click="model.roleID = null;manyAction.Find();"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                                </div>  -->
                        </div>
        
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <b>{{'chief' | translate}}</b>
                                <!-- <div class="input-group"> -->
                                    <ui-select ng-model="model.ManageID" ng-change="manyAction.Find();" theme="bootstrap4-1" class="normal bg-custom-white" size="100%" ng-disabled="!can('EM','edit') || !can('chief','edit')" ng-change="manyAction.Find();">
                                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.emName}}</ui-select-match>
                                        <ui-select-choices repeat="a.emID as a in employees.data | filter: $select.search">
                                                {{a.emName}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!-- <span class="input-group-append">
                                            <button ng-show="model.ManageID" type="button" class="btn btn-default" ng-click="model.ManageID = null;manyAction.Find();"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                                </div>  -->
                        </div>    
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <b>{{'status' | translate}}</b>
                                <ui-select ng-model="model.onlineStatus" ng-change="manyAction.Find();" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                                        <ui-select-choices repeat="c.tvID as c in Enums.group[1035]" >
                                         {{c.Name | translate}}
                                        </ui-select-choices>
                                </ui-select>
                        </div>   
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <!-- <b>{{'company' | translate}}</b>
                                <ui-select ng-model="model.coID" ng-change="manyAction.Find();" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.coName | translate}}</ui-select-match>
                                        <ui-select-choices repeat="c.coID as c in Company.data" >
                                         {{c.coName | translate}}
                                        </ui-select-choices>
                                </ui-select> -->
                                <b>{{'company'| translate}}</b>
                                <ng-dropdown-multiselect  options="Company.data" selected-model="model.coIDs" disabled="Auth.coIDs.length > 0"
                                        extra-settings="{ scrollableHeight: '350px', scrollable: true, buttonClasses : 'btn btn-white', searchField: 'coName', enableSearch: true, keyboardControls: true, styleActive : true, idProperty: 'coID', displayProp: 'coName', externalIdProp: 'coID'}"
                                        translation-texts = "texts"  >
                                </ng-dropdown-multiselect>

                        </div>   
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <ng-include src="'/Views/actives.html'"></ng-include>
                        </div>
               </div>
            </div>
        </div>
</div>