<div class="card card-info card-outline">
        <div class="card-header">
            <h3 class="card-title" translate="filters"></h3>
            <div class="card-tools">
                <global-button2 url=""></global-button>
            </div>
        </div>
    
        <div class="card-body p-0">
            <div class="card-footer">
                <div class="row">     
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <b>{{'dateFrom'| translate}}</b>
                            <br><div class="form-group">
                                    <p class="icon-group input-group">
                                    <input ng-model="model.DateFrom" class="form-control" ng-model-options="{ updateOn: 'blur' }" style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;">
                                        <span class="input-group-append">
                                        <button moment-picker="model.DateFrom" max-date="model.DateTo" class="btn btn-default">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                        </button>
                                        </span>
                                    </p>
                                </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <b>{{'dateTo'| translate}}</b>
                            <br>
                            <div class="form-group">
                                <p class="icon-group input-group">
                                    <input ng-model="model.DateTo" class="form-control" ng-model-options="{ updateOn: 'blur' }" style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;">
                                    <span class="input-group-append">
                                        <button moment-picker="model.DateTo" min-date="model.DateFrom" class="btn btn-default">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <b>{{'status'| translate}}</b>
                                <ui-select ng-model="model.category" ng-change="Find()" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="c.tvID as c in Enums.group[1038] | filter: $select.search" >
                                                        {{c.Name}}
                                                    </ui-select-choices>
                                </ui-select>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <b>{{'format'| translate}}</b>
                            <ui-select ng-model="model.convertFormat" ng-change="Find()" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                                <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="c.tvID as c in Enums.group[1040] | filter: $select.search" >
                                                    {{c.Name}}
                                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <ng-include src="'/Views/actives.html'"></ng-include>
                        </div> -->
               </div>
            </div>
        </div>
</div>