<section class="content">
      <div class="row">
        <div class="col-lg-4">
          <!--TAGS-->
          <div class="card card-info card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><i class="fa fa-edit"></i> {{'edit' | translate}}</h3>

              <div class="card-tools">
                
              </div>
            </div>
            <div class="card-body">
                <div class="row hoverDiv">
                    <div class="col-lg-6 no-padding">{{'names' | translate}}</div>
                    <div class="col-lg-6 no-padding">
                         <input only-clear class="form-control" ng-model="upd.tgName">
                    </div>
                </div>
                <div class="row hoverDiv">
                        <div class="col-lg-6 no-padding">{{'active' | translate}} </div>
                        <div class="col-lg-6 no-padding"><label><input type="checkbox" cb-switch ng-model="upd.isActive"></label> </div>
                </div>
                <ng-include src="'/Views/divEdit.html'"></ng-include> 
            </div>
         </div>

            <!-- About Me Box -->
            <div class="card card-info card-outline">
                <div class="card-header with-border">
                  <h3 class="card-title"><i class="fas fa-edit"></i>  {{'action' | translate}}, {{'ifTime' | translate}}</h3>
                </div>
                <div class="card-body ">
                    <div class="row hoverDiv">
                            <div class="col-lg-6 no-padding">{{'destination' | translate}} </div>
                            <div class="col-lg-6 no-padding">
                                <div class="input-group" style="width: 100%">
                                    <ui-select ng-model="upd.destination" ng-change="upd.destdata=null" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                            <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                                            <ui-select-choices repeat="c.tvID as c in Enums.group[1014] | filter: $select.search" ui-disable-choice="c.tvID == 101406">
                                                {{c.Name | translate}}
                                            </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                    </div>
                    <ng-include src="'/Views/destdataUpd.html'"></ng-include>
                    <div class="row hoverDiv" ng-show="(upd.destination == 101403 || upd.destination == 101409) && upd.destdata">
                            <div class="col-lg-6 no-padding">{{'destdata2' | translate}} </div>
                            <div class="col-lg-6 no-padding">
                                <div class="input-group" style="width: 100%">
                                    <input  class="form-control" ng-model="upd.destdata2"/>
                                    <span class="input-group-append">
                                        <button ng-show="upd.destdata2" type="button" class="btn btn-default" ng-click="upd.destdata2 = null"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>


            <!-- About Me Box -->
          <div class="card card-info card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><i class="fas fa-edit"></i>  {{'action' | translate}}, {{'ifTimeFalse' | translate}}</h3>
            </div>
            <div class="card-body ">

                <div class="row hoverDiv">
                        <div class="col-lg-6 no-padding">{{'destination' | translate}}</div>

                        <div class="col-lg-6 no-padding">
                            <div class="input-group">
                                <ui-select ng-model="upd.invalid_destination" ng-change="upd.invalid_destdata=null" theme="bootstrap4-1" class="normal bg-custom-white" >
                                    <ui-select-match placeholder="{{'select' | translate}}">
                                            {{($select.selected.Name | translate).substring(0,16)}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="c.tvID as c in Enums.group[1014] | filter: $select.search" ui-disable-choice="c.tvID == 101406">
                                    {{c.Name | translate}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destination" type="button" class="btn btn-default" ng-click="upd.invalid_destination = null"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row hoverDiv" ng-show="upd.invalid_destination">
                        <div class="col-lg-6 no-padding">{{'destdata' | translate}}
                        </div>
                        <div class="col-lg-6 no-padding" ng-show="upd.invalid_destination"  ng-switch="upd.invalid_destination">
                            <div ng-switch-when="101401" class="input-group" style="width: 100%">
                                <ui-select  ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="a.queID as a in Queues.data | filter: $select.search ">
                                {{a.name}}
                                </ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div ng-switch-when="101402" class="input-group" style="width: 100%">
                                <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                                <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.emName}}</ui-select-match>
                                <ui-select-choices repeat="a.sipName as a in employees.data | filter: $select.search" ui-disable-choice="a.SipNum === null ? true : false;">
                                {{a.emName}}
                                </ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div ng-switch-when="101403" class="input-group" style="width: 100%">
                                <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.trName}}</ui-select-match>
                                <ui-select-choices repeat="a.trID as a in Trunk.data | filter: $select.search ">
                                {{a.trName}}
                                </ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div ng-switch-when="101405" class="input-group" style="width: 100%">
                                <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.ivr_name}}</ui-select-match>
                                <ui-select-choices repeat="a.id_ivr_config as a in IVR.data | filter: $select.search ">
                                {{a.ivr_name}}
                                </ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div ng-switch-when="101407" class="input-group" style="width: 100%">
                                <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.record_name}}</ui-select-match>
                                <ui-select-choices repeat="a.record_id as a in Record.data | filter: $select.search ">
                                {{a.record_name}}
                                </ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div ng-switch-when="101408" class="input-group" style="width: 100%">
                                <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.cdName}}</ui-select-match>
                                    <ui-select-choices repeat="a.cdID as a in CustomDestenation.data | filter: $select.search ">{{a.cdName}}</ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <div ng-switch-when="101409" class="input-group" style="width: 100%">
                                <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.poolName}}</ui-select-match>
                                    <ui-select-choices repeat="a.poolID as a in TrunkPool.data | filter: $select.search ">{{a.poolName}}</ui-select-choices>
                                </ui-select>
                                <span class="input-group-append">
                                    <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <div ng-switch-when="101410" class="input-group" style="width: 100%">
                                    <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.tgName}}</ui-select-match>
                                        <ui-select-choices repeat="a.tgID as a in TimeGroup.data | filter: $select.search ">{{a.tgName}}</ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-append">
                                        <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                            <div ng-switch-when="101411" class="input-group" style="width: 100%">
                                    <ui-select ng-model="upd.invalid_destdata" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                        <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.cbName}}</ui-select-match>
                                        <ui-select-choices repeat="a.cbID as a in CallBack.data | filter: $select.search ">{{a.cbName}}</ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-append">
                                        <button ng-show="upd.invalid_destdata" type="button" class="btn btn-default" ng-click="upd.invalid_destdata = null"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                            </div>

                        </div>

                    </div>
                    <div class="row hoverDiv" ng-show="(upd.invalid_destination == 101403 || upd.invalid_destination == 101409) && upd.invalid_destdata">
                            <div class="col-lg-6 no-padding">{{'destdata2' | translate}} </div>
                            <div class="col-lg-6 no-padding">
                                <div class="input-group" style="width: 100%">
                                    <input  class="form-control" ng-model="upd.invalid_destdata2"/>
                                    <span class="input-group-append">
                                        <button ng-show="upd.invalid_destdata2" type="button" class="btn btn-default" ng-click="upd.invalid_destdata2 = null"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                    </div>
            </div>
          </div>

    </div>

        <!--DATA RIGHT-->
        <div class="col-lg-4">
            <div class="card card-info card-outline">
                <div class="card-header with-border">
                    <h3 class="card-title"> {{'routRules' | translate}}</h3>
                    <!-- <div style="display: inline-block;float: right; border: none;">
                        <div class="btn-group" style="float: right;">
                            <button ng-disabled="global.Loading || global.NewProgerss" class="btn" ng-class="{'btn-warning' : global.Loading , 'btn-success' : !global.Loading}"
                                                ng-click="global.Loading=true;manyAction.Find(ItemsSrv)">
                                                <span ng-hide="global.Loading" ng-bind="'find'| translate"></span>

                                                <i ng-show="global.Loading" class="fa fa-spinner fa-pulse fa-fw"></i>
                                                <span ng-show="global.Loading" ng-bind="'Loading'| translate"></span>

                                                &nbsp; <i ng-show='dataIsChecked==1' class="fa fa-user"></i>
                                                <i ng-show='dataIsChecked>1' class="fa fa-users"></i>
                                                <span class="badge badge-warning" ng-show='dataIsChecked>0'>{{dataIsChecked}}</span>
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li role="menuitem" ng-hide="checkLast" ><a ng-click="manyAction.addItems()" ><i class="fa fa-plus"></i> {{'new' | translate}}</a></li>
                                                <li role="menuitem" ng-show="dataIsChecked"><a ng-click="manyAction.manyDelete(Items,ItemsSrv)"><i class="fa fa-trash"></i> {{'del' | translate}}</a></li>
                            </ul>
                        </div>
                        <br>
                        <label ng-show="Items.length > 0">{{'findPlaceholder'| translate}} {{Items.length}} {{'from'| translate}} {{total_count}}</label>
                    </div> -->
                    <div class="card-tools">
                            <div class="btn-group">
                                <button class="btn btn-tool" ng-disabled="global.Loading || global.NewProgerss " ng-click="global.Loading=true;manyAction.Find(ItemsSrv)">
                                    <i ng-hide="global.Loading" class="fa fa-search"></i>
                                    <span ng-hide="global.Loading" ng-bind="'find'| translate"></span>
                                    
                                    <i ng-show="global.Loading" class="fa fa-spinner fa-pulse fa-fw"></i>
                                    <span ng-show="global.Loading" ng-bind="'Loading'| translate"></span>
                                </button>                                 
                                
                                <button class="btn btn-tool dropdown-toggle" data-toggle="dropdown"  ng-disabled="!can('EM','edit')">
                                    <i class="fa fa-wrench"></i>      
                                    &nbsp;  <span  ng-show="!global.Loading && dataIsChecked>0" class="badge badge-secondary navbar-badge" ng-bind="dataIsChecked"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" href ng-click="manyAction.addItems()" ng-hide="checkLast" ><i class="fa fa-plus"></i> {{'new' | translate}}</a>
                                    <a class="dropdown-item" href ng-click="manyAction.manyDelete(Items,ItemsSrv)" ng-show="dataIsChecked"><i class="fa fa-trash"></i> {{'del' | translate}}</a></li>
                                </div>
                                <ng-include src="'/Views/FilteCollapse.html'"></ng-include>
                            </div>
                        </div>
                </div>
                <div class="card-body p-0" ng-show="Items">

                    <div  style="overflow-y: auto; height: 70vh;" can-load="canLoad" infinite-scroll="manyAction.loadMore()"  threshold="100">
                            <table class="table table-head-fixed table-hover borderless" >
                                <tr>
                                    <th ng-include="'/Views/ng-table/checkbox.html'" ng-click="$event.stopPropagation()"></th>
                                    <th ng-init="o7='prefix'" ng-click="manyAction.order(o7);">
                                        <nobr>{{'Paramert' | translate}} <span ng-show="order==o7" ng-include="'/Views/orderSpan.html'"/></nobr>
                                    </th>
                                    <th ng-init="o8='callerID'" ng-click="manyAction.order(o8);">
                                        <nobr>{{'Value' | translate}} <span ng-show="order==o8" ng-include="'/Views/orderSpan.html'"/></nobr>
                                    </th>
                                </tr>
                                <tbody ng-repeat="e in Items | limitTo:limit track by $index">
                                    <tr>
                                        <td ng-include="'/Views/checkboxOne.html'" width="1%" ></td>
                                        <td style="width: 40%">{{'TimeStart'| translate}}</td>
                                        <td style="width: 60%">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <span class="icon-group input-group">
                                                  <input ng-model="e.TimeStart" class="form-control" ng-model-options="{ updateOn: 'blur' }">
                                                    <span class="input-group-append">
                                                      <button moment-picker="e.TimeStart"
                                                              format="HH:mm:ss"
                                                              locale="ru"
                                                              change="ctrl.setFormattedDate(newValue)"
                                                              type="button" class="btn btn-default">
                                                              <i class="fa fa-clock" aria-hidden="true"></i>
                                                      </button>
                                                    </span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'TimeFinish'| translate}}</td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <span class="icon-group input-group">
                                                  <input ng-model="e.TimeFinish" class="form-control" ng-model-options="{ updateOn: 'blur' }">
                                                    <span class="input-group-append">
                                                      <button moment-picker="e.TimeFinish"
                                                              format="HH:mm:ss"
                                                              locale="ru"
                                                              change="ctrl.setFormattedDate(newValue)"
                                                              type="button" class="btn btn-default">
                                                              <i class="fa fa-clock" aria-hidden="true"></i>
                                                      </button>
                                                    </span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'DayStart'| translate}}</td>
                                        <td>
                                            <div class="input-group" style="width: 100%">
                                                <ui-select ng-model="e.DayStart" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                                                    <ui-select-choices repeat="a.Name as a in dayList | filter: $select.search ">
                                                        {{a.Name | translate}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-append">
                                                    <button ng-show="e.DayStart" type="button" class="btn btn-default" ng-click="e.DayStart = null"><i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'DayFinish'| translate}}</td>
                                        <td>
                                            <div class="input-group" style="width: 100%">
                                                <ui-select ng-model="e.DayFinish" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                                                    <ui-select-choices repeat="a.Name as a in dayList | filter: $select.search ">
                                                        {{a.Name | translate}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-append">
                                                    <button ng-show="e.DayFinish" type="button" class="btn btn-default" ng-click="e.DayFinish = null"><i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'DayNumStart'| translate}}</td>
                                        <td>
                                            <div class="input-group">
                                                <input numeric-only class="form-control" ng-model="e.DayNumStart">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default" ng-click="e.DayNumStart=e.DayNumStart+1"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-default" ng-click="e.DayNumStart=e.DayNumStart-1" ng-disabled="e.DayNumStart <= 0" ><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'DayNumFinish'| translate}}</td>
                                        <td>
                                            <div class="input-group">
                                                <input numeric-only class="form-control" ng-model="e.DayNumFinish">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default" ng-click="e.DayNumFinish=e.DayNumFinish+1"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-default" ng-click="e.DayNumFinish=e.DayNumFinish-1" ng-disabled="e.DayNumFinish <= 0" ><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'MonthStart'| translate}}</td>
                                        <td>
                                            <div class="input-group" style="width: 100%">
                                                <ui-select ng-model="e.MonthStart" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                                                    <ui-select-choices repeat="a.Name as a in monList | filter: $select.search ">
                                                        {{a.Name | translate}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-append">
                                                    <button ng-show="e.MonthStart" type="button" class="btn btn-default" ng-click="e.MonthStart = null"><i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1%" ></td>
                                        <td>{{'MonthFinish'| translate}}</td>
                                        <td>
                                            <div class="input-group" style="width: 100%">
                                                <ui-select ng-model="e.MonthFinish" theme="bootstrap4-1" class="normal bg-custom-white" size="100%"">
                                                    <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                                                    <ui-select-choices repeat="a.Name as a in monList | filter: $select.search ">
                                                        {{a.Name | translate}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-append">
                                                    <button ng-show="e.MonthFinish" type="button" class="btn btn-default" ng-click="e.MonthFinish = null"><i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                    </div>
                    <div ng-include="'/Views/paginationItems.html'"></div>
                </div>

            </div>
        </div>

        <!--DATA RIGHT-->
        <div class="col-lg-4">
                    <div class="card-tools float-right">
                        <button class="btn btn-success btn-sm" ng-click="manyAction.Update(upd,'TimeGroup');manyAction.ItemsEdit('TimeGroup');">{{'save' | translate}}</button>
                        <button class="btn btn-warning btn-sm" ui-sref="TimeGroup">{{'cancel' | translate}}</button>
                    </div>
        </div>
    </div>
</section>

