<div class="col-lg-2" style="border-right: 1px solid #e7e7e7;">

</div>


<div class="col-lg-10">
    <div class="col-lg-6">
        <br/>
        <b>Данные Драйвера</b>
    </div>

    <div class="col-lg-6">
        <div class="text-right">
            <div class="btn-group" style="margin: 2%">
                <button ng-disabled=" !new.drvName || !new.isActive" ng-click="manyAction.Save(new,'Driver')" class="btn btn-success">Сохранить</button>
                <a href="#!/Driver" class="btn btn-warning">Отмена</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
    <table class="table table-head-fixed table-hover borderless">
        <tbody>
        <tr>
            <td>Драйвер</td>
            <td><input class="form-control" type="text" ng-model="new.drvName" ></td>
        </tr>
        <tr>
            <td>Активный</td>
            <td><input class="form-control" type="checkbox" ng-model="new.isActive" ></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
