 

 
<!--<button type="button" class="btn btn-lg btn-default" 
		data-animation="am-fade-and-slide-top"
		data-template="views/index/modal.tpl.html"
		bs-modal="modal">Войти 

</button> -->

<!--
   <a
                        data-animation="am-fade-and-slide-top"
                        data-template="views/index/modal.tpl.html"
                        bs-modal="modal">  <i class="fa fa-sign-in fa-lg"></i> Войти

                </a>
 -->
 
 <!-- data-template="views/index/modal.tpl.html"  -->
<br/><br/>
 <div class="container"  >

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Новости
                    <small>решения для IP телефонии</small>
                </h1>
            </div>

        </div>

        <div class="row">

          

            <div class="col-lg-8 col-md-8">
                <h3>Астериск Технолоджи</h3>
                <h4>Время работы</h4>
                
                  <address>
                  	пн-пт 9:00-18:00 <br>
                        Украина, Киевская область, Киев<br>
                        ул. Героев Сталинграда 14<br>
                  </address>
                  <address>
                        <abbr title="Phone">тел:</abbr> +38 (044) 364-9633<br>
                        <abbr title="Phone">тел:</abbr> +7 &nbsp;  (499) 677-6701<br>
                        <abbr title="Email">E-mail:</abbr> <a href="mailto:info@asterisk.biz.ua">info@asterisk.biz.ua</a>
                  </address>
		<a class="btn btn-primary" href="/Pages/contact.html">подробнее  <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>

        <hr>

        <div class="row">

             
            <div class="col-lg-8 col-md-8">
                <h3>Статистика звонков</h3>
                <h4>Особености</h4>
                <p>1. Разделение между входящими, исходящими и внутренними звонками</p>
                <p>2.  Разделение по статусам (отвечено, пропущено, занято, ошибка) </p>
                <p>3.  Графики по дням, месяцам и годам</p>
                <p>4.  График по типу звонка</p>
                <p>5.  Фильтры по дате, содержимому и оператору </p>
                <p>6.  Проигрование в браузере записи звонка</p>
                <p>7.  Возможность добавлять комментарий к звонку</p>
                
                <p>8.  Сортировка</p>
                <p>9.  Динамическая подгрузка новых строк в таблице</p>
                                
                <a class="btn btn-primary"  >подробнее <span class="glyphicon glyphicon-chevron-right"></span></a> <!-- -->
            </div>

        </div>

      
 

    </div>
    <!-- /.container -->
 
 
 
