<div class="card card-info card-outline">
<div class="card-header with-border">
       <div>
           <h3 class="card-title">{{'filters'| translate}}</h3>
           
       </div>
</div>

<div class="card-tools">
    <div class="noneBoard">
        <div class="row">
            <div class="col-md-1" >
                {{'mobileOperator' | translate}}: &#160 <checkbox ng-model="model.isGsm" ng-change="manyAction.limit();GetRegion()" ></checkbox>
                </label>
            </div>

            <div class="col-md-1">
                        <b>{{'Area'| translate}}</b>
                    <ui-select ng-model="model.id_scenario" ng-change="Find()" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                        <ui-select-match >{{$select.selected.name_scenario}}</ui-select-match>
                        <ui-select-choices repeat="c.id_scenario as c in Scenarios.data | filter: $select.search " >
                            {{c.name_scenario}}
                        </ui-select-choices>
                    </ui-select>
            </div>

            <div class="col-md-1">
                        <b>{{'region'| translate}}</b>
                    <ui-select ng-model="model.emID" ng-change="Find(model)" theme="bootstrap4-1" class="normal bg-custom-white" size="100%">
                        <ui-select-match >{{$select.selected.emName}}</ui-select-match>
                        <ui-select-choices repeat="ab.emID as ab in employees.data | filter: $select.search" style="padding: 6px 0px">
                            {{ab.emName}}
                        </ui-select-choices>
                    </ui-select>
            </div>

            <div class="col-md-1" >
                 <b>{{'country' | translate}}</b>
                <ui-select ng-model="model.cID" theme="bootstrap4-1" class="normal ng-pristine ng-valid ng-touched" ng-change="manyAction.limit();GetArea()">
                            <ui-select-match  placeholder="{{'select' | translate}}">{{$select.selected.cName}}</ui-select-match>
                            <ui-select-choices repeat="a.cID as a in Countries.data | filter: $select.search">
                                        {{a.cName}}
                            </ui-select-choices>
                </ui-select>
            </div>

            <div style="display: inline-block;float: right; margin:10px 17px 5px; border: none;">
                <div class="btn-group" style="float: right;">
                  <ng-include src="'/Views/btnCustomLogic.html'"/>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="menuitem"><a ui-sref="ValidationNew" ><i class="fa fa-plus"></i> {{'new' | translate}}</a></li>
                    <li role="menuitem" ng-show="dataIsChecked"><a ng-click="manyAction.manyDelete(data)"><i class="fa fa-trash"></i> {{'del' | translate}}</a></li>
                    <li><a ng-click="manyAction.ClearFilter()" >
                           <i class="fa fa-undo"></i>{{'Clear_filter'| translate}}
                        </a>
                    </li>
                  </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="col-lg-12" >
      <ng-include src="'/Views/LoadingTable.html'"></ng-include>
        <table class="table table-head-fixed table-hover" ng-hide="global.Loading">
            <tr ng-click="manyAction.Find()">
                <th ng-include="'/Views/ng-table/checkbox.html'" ng-click="$event.stopPropagation()" width="1%"/>
                <th ng-init="o1='prefix'" ng-click="manyAction.order(o1);">
                    <nobr>{{'prefix' | translate}} <span ng-show="order==o1" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o2='aID'" ng-click="manyAction.order(o2);">
                    <nobr>{{'aID' | translate}} <span ng-show="order==o2" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o3='cID'" ng-click="manyAction.order(o3);">
                    <nobr>{{'cID' | translate}} <span ng-show="order==o3" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o4='gmt'" ng-click="manyAction.order(o4);">
                    <nobr>{{'gmt' | translate}} <span ng-show="order==o4" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o5='prefixBegin'" ng-click="manyAction.order(o5);">
                    <nobr>{{'rangeFrom' | translate}} <span ng-show="order==o5" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o6='prefixEnd'" ng-click="manyAction.order(o6);">
                    <nobr>{{'rangeTo' | translate}} <span ng-show="order==o6" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o7='MCC'" ng-click="manyAction.order(o7);">
                    <nobr>{{'MCC' | translate}} <span ng-show="order==o7" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o8='MNC'" ng-click="manyAction.order(o8);">
                    <nobr>{{'MNC' | translate}} <span ng-show="order==o8" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o9='lName'" ng-click="manyAction.order(o9);">
                    <nobr>{{'lID' | translate}} <span ng-show="order==o9" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o10='oID'" ng-click="manyAction.order(o10);">
                    <nobr>{{'oID' | translate}} <span ng-show="order==o10" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
                <th ng-init="o11='rgID'" ng-click="manyAction.order(o11);">
                    <nobr>{{'rgID' | translate}} <span ng-show="order==o11" ng-include="'/Views/orderSpan.html'"/></nobr>
                </th>
            </tr>
            <tr ng-repeat="e in data | limitTo:limit track by $index" >
                <td ng-include="'/Views/checkboxOne.html'"/>
                <td><a ng-href="/#!/ValidationEdit/{{e.vID}}"> {{e.prefix}} </a> </td>
                <td> {{e.aID}}           </td>
                <td> {{e.cID}}           </td>
                <td> {{e.gmt}}           </td>
                <td> {{e.prefixBegin}}   </td>
                <td> {{e.prefixEnd}}     </td>
                <td> {{e.MCC}}           </td>
                <td> {{e.MNC}}           </td>
                <td> {{e.lID}}           </td>
                <td> {{e.oID}}           </td>
                <td> {{e.rgID}}          </td>
            </tr>
            </tbody>
        </table>
        <div ng-include="'/Views/pagination.html'"></div>
    </div>
</div>
</div>