<div class="row">     
        <div class="col-md-3 p-0">
          <!--TAGS-->
          <div class="card card-info card-outline">
            <div class="card-header with-border">
              <h3 class="card-title"><i class="fas fa-edit"></i> {{'clientData'|translate}}</h3>

              <div class="card-tools">
                <!-- <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button> -->
                <!-- <span ng-click="client = null"> <i class="fa fa-undo"></i> {{'Clear_filter'| translate}} </span> -->
                <button ng-if="undo" class="btn btn-link" ng-show="client" ng-click="Clear();" ><i class="fa fa-reply float-right" style="cursor: pointer;color: #0075b0;"></i></button>

              </div>
            </div>
            <div class="card-body p-1">
              <div class="row">
               <div class="col-lg-12">
                    <div class="has-error" ng-hide="client.clID" ng-form="subForm"> <!-- ng-class="{'nonBorder': searchclient}" typeahead-on-select="client = searchclient; GetClient(client.clID); getForms(activeForm.tpID)"-->
                            <input
                                name="name"
                                class="form-control"
                                ng-model="searchclient"
                                uib-typeahead="a as a.clName for a in manyAction.SearchClient($viewValue)"
                                placeholder="{{'selectCustomer'| translate}}"
                                typeahead-wait-ms="250"
                                
                                typeahead-on-select=" GetClient(searchclient.clID); getForms(activeForm.tpID)"
                                ng-change="client.clID=null;"
                                />
                            <label ng-show='!searchclient' class="control-label" ><i class="fa fa-times-circle-o"></i> {{'inputTypefield'|translate}}</label>
                    </div>
                    
                    <div ng-show="client.clID" >
                        <i class="fa fa-user fa-3x" ng-show="client.IsPerson"      uib-tooltip="{{'physFace' | translate}}"></i>
                        <i class="fa fa-building fa-3x" ng-hide="client.IsPerson"  uib-tooltip="{{'jurFace' | translate}}"></i>
                        <img ng-hide="client.isActive || client" src="/images/ContactNotActive.png" class="summaryImg" style="width:20px;height: 20px;">
                        <b ng-bind="client.clName"></b>
                    </div>
                    
                    <ul ng-show="client.clID" class="list-group list-group-unbordered no-padding" style="margin-bottom: 0px">
                        <li class="list-group-item" ng-show="Responsible.length > 0" style="display: flow-root;">
                            <b>{{'responsible' | translate}}</b>
                                <span ng-repeat-start="a in Responsible" style="display: inline-block; float:right">
                                  <a float-right ng-href="#!/edit/employee/{{a.emID}}"  ng-bind="a.emName"></a>
                                </span>
                                <br ng-repeat-end/>
                        </li>
                        <li class="list-group-item" ng-show="TagList.length > 0">
                            <b>{{'tags' | translate}}</b>
                            <a class="float-right" ng-repeat = "a in TagList">
                                <span ng-bind="a.tagName" style="padding-left: 5px"></span>
                            </a>
                        </li>
                        <li class="list-group-item" style="display: flow-root;" ng-show="client.clStatus || client.ccStatus">
                            <b>{{'status' | translate}}</b>
                                <span  ng-bind="(client.clStatus | ClientStatus).status" style="color:{{(client.clStatus | ClientStatus).color}}; float: right;"> </span> <br>
                                <span style="color:{{(client.ccStatus | ClientStatus).color}}; float: right;">
                                    {{(client.ccStatus | ClientStatus).status}}
                                </span>
                        </li>
                        <li class="list-group-item" style="display: flow-root;" ng-show="client.ActualStatus">
                            <b>{{'actualStatus' | translate}}</b>
                                <span  class="float-right" ng-bind="client.ActualStatus | enums"> </span> <br>
                        </li>
                    
                        <li class="list-group-item" ng-show="client.regName">
                            <b>{{'region' | translate}}</b>
                            <a class="float-right" ng-bind="client.regName"></a>
                        </li>
                        <li class="list-group-item" ng-show="client.CallDate">
                            <b> {{'dateOfCommunications' | translate}}</b>
                            <a class="float-right" ng-bind="client.CallDate | date:'yyyy MMM d, HH:MM'"></a>
                        </li>
                        <li class="list-group-item" ng-show="Org.OrgType && client.IsPerson">
                            <b>{{'OrgType' | translate}}</b>
                            <select class ="form-control float-right text-right" align="right" disabled style="background-color: white; border: none;-webkit-appearance: none;-moz-appearance: none; width: auto; padding: 0; height: auto; max-width: 70%"
                                            ng-model    ="Org.OrgType"
                                            ng-options  ="e.tvID as e.Name for e in orgTypes"
                                            >
                            </select>
                        </tr>
                        </li>
                        <li class="list-group-item" ng-show="client.CompanyID" style="display: flow-root;">
                            <b> {{'companyID' | translate}}</b>
                            <a class="float-right" ng-hide="DZO" ng-bind="client.CompanyID"></a>
                            <a class="float-right" ng-show="DZO" href="//www.dzo.com.ua/companies/{{client.CompanyID}}" target="_blank" ng-bind="client.CompanyID"></a>
                        </li>
                        <li class="list-group-item" ng-show="client.Sex">
                            <b>{{'sex' | translate}}</b>
                            <a class="float-right" ng-bind="client.Sex | enums"></a>
                        </li>
                        <li class="list-group-item" ng-show="client.Position">
                            <b> {{'position' | translate}}</b>
                            <a class="float-right" ng-bind="client.Position | enums" ></a>
                        </li>
                        <li class="list-group-item" style="display: flow-root;" ng-show="Parent">
                            <b> {{'connected' | translate}}</b>
                            <b><a class="float-right" ng-href="/#!/clientPreView/{{Parent.clID}}" ng-bind="Parent.clName" ></a></b>
                        </li>
                        <li ng-show="client.IsPerson && Org.TaxCode" class="list-group-item">
                            <b> {{'id' | translate}}</b>
                            <a class="float-right" ng-bind="Org.TaxCode" ></a>
                        </tr>
                        </li>
                        <li class="list-group-item" ng-show="client.ffID || client.ffID == 0;" style="display: flow-root;">
                            <b>{{'file' | translate}}</b>
                            <a class="float-right" ng-bind="client.ffID | ffFilters" ></a>
                            <!-- <select class="form-control float-right" ng-model="client.ffID" ng-options="a.ffID as a.ffName for a in File.data" disabled style="direction: rtl;background-color: white; border: none;-webkit-appearance: none;-moz-appearance: none; width: auto; padding: 0; height: auto; max-width: 80%">
                                <option value="">{{'selectFile' | translate}}</option>
                            </select> -->
                        </li>
                        <li class="list-group-item" ng-show="client.Comment && client.Comment != 'null'" style="display: flow-root;">
                            <b style="display: inline-block;">{{'note' | translate}}</b>
                            <a class="float-right" uib-tooltip="{{client.Comment}}" tooltip-trigger="mouseenter" tooltip-placement="top">
                                {{client.Comment.substring(0,25)}}
                                <span ng-if="client.Comment.length>25">...</span>
                            </a>
                    
                        </li>
                        <li class="list-group-item" ng-show="client.CreatedBy">
                            <span class="direct-chat-timestamp" style="display: inline-block; font-size: 12px">{{'created' | translate}}</span>
                            <span style="float: right; font-size: 12px" >
                                <span class="direct-chat-timestamp" ng-bind="client.CreatedBy | emFilters" uib-tooltip="{{ client.CreatedBy | emFilters}} {{client.Created | date:'MMM d, HH:mm'}}" tooltip-trigger="mouseenter" tooltip-placement="top" ></span>
                                <span class="direct-chat-timestamp" ng-bind="client.Created | date:'MMM d, HH:mm'"> </span>
                            </span>
                        </li>
                        <li class="list-group-item" ng-show="client.Changed || client.Changed==0" style="border-bottom: none;">
                            <span class="direct-chat-timestamp" style="display: inline-block; font-size: 12px">{{'editedBy' | translate}}</span>
                            <span style="float: right; font-size: 12px" >
                                <span class="direct-chat-timestamp" ng-bind="client.ChangedBy | emFilters" uib-tooltip="{{ client.ChangedBy | emFilters}} {{client.Changed | date:'MMM d, HH:mm'}}" ></span>
                                <span class="direct-chat-timestamp" ng-bind="client.Changed | date:'MMM d, HH:mm'" > </span>
                            </span>
                        </li>
                    </ul>

                    <div ng-if="formTypes.length > 0 && client.clName">
                            <br/>
                            <p> <b>{{'form'|translate}} :</b></p>
                            <ui-select ng-model="model.tpID" ng-change="getForms(model.tpID)" theme="bootstrap4-1" class="normal" size="100%" >
                                <ui-select-match>{{$select.selected.tpName}} ( {{$select.selected.ffID | ffFilters}} ) </ui-select-match>
                                <ui-select-choices repeat="a.tpID as a in formTypes | filter: $select.search | filter:{isActive:true}" >
                                   {{a.tpName}} <span class="pull-right">{{a.ffID | ffFilters}}</span>
                                </ui-select-choices>
                            </ui-select>
                    </div>

                    <div ng-show="questions.length" >
                        <br/>
                        <textarea rows="4" style="background-color: lightgoldenrodyellow;border-radius: 5px;" class="form-control" placeholder="{{'generalComment'|translate}}" ng-model="answers.dcComment"></textarea>
                    </div>
                    <div ng-show="questions.length">
                        <br/>
                        <p> <b>{{'progress'|translate}} :</b></p>
                        <uib-progressbar  animate="false" value="Sum" max="questions" type="{{manyAction.TypeProgress(Sum)}}" ><span style="color:white; white-space:nowrap;">{{Sum}}/{{questions.length}}</span></uib-progressbar>
                    </div>
                    <div class="card-tools float-right">
                      <br>
                      
                          <button ng-show="Sum >= 1"  ng-disabled="global.Loading" class="btn btn-sm" ng-class="{'btn-success': Sum == questions.length,'btn-primary': Sum != questions.length, 'btn-warning' : global.Loading}" ng-click="save(answers)">
                              <span ng-hide="global.Loading" translate="save"></span>
                              <i ng-show="global.Loading" class="fa fa-spinner fa-pulse fa-fw"></i>
                              <span ng-show="global.Loading" translate="Loading"></span>
                          </button>
                          <button ng-hide="global.Loading" ng-click="$close()" class="btn btn-warning btn-sm">{{'cancel'|translate}}</button>
                       <br>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!--DATA RIGHT-->
        <div class="col-md-9">
          <div>
            <div class="card card-info card-outline card-header with-border" style="background-color: white;">
                <h3 class="card-title"> {{'questAndAnsw'|translate}}</h3>
            </div>
            <div class="card-body p-0">
                <div class="row">
                      <div class="col-lg-3" ng-repeat-start="(key,value) in questions">
                          <div class="card box-widget widget-user-2">
                            <div style="padding: 15px;" class="widget-user-header bg-blue" ng-class="{'bg-green': answers.Items[key].qID, 'active': !answers.Items[key].qID}">
                                 <!-- <div class="widget-user-image">
                                    <span class="badge pull-left" ng-init="radios = {'answer':null}">
                                        {{$index}}
                                    </span>
                                </div>
                                &nbsp;&nbsp;  -->
                                <span style="font-size: 19 px;"  >{{value.qName}}</span> 
                            </div>
                            <div class=" p-0"> <!-- card-footer -->

                              <ul class="nav flex-column">
                                <li class="nav-item" ng-click="CheckAnswer(key,item)" ng-repeat="item in value.Items" ng-init="item.qName = value.qName; item.qID = value.qID; item.tpID = value.tpID">
                                    <a href class="nav-link" >
                                        <b> {{item.qiAnswer}} </b>
                                        <span ng-show="answers.Items[key].qID && item.qiID == answers.Items[key].qiID" class="float-right badge bg-green"><i class="fa fa-check" ></i></span>
                                        <textarea  ng-click="$event.stopPropagation()" stop-event="click" ng-show="answers.Items[key].qID && item.qiID == answers.Items[key].qiID" rows="2" style="background-color: lightgoldenrodyellow;border-radius: 5px !important;" class="form-control" placeholder="{{'Comment'|translate}}"  ng-change="answers.Items[key].qID = value.qID"  ng-model="answers.Items[key].qiComment"/>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href class="nav-link" style="padding: 5px;">
                                          <input style="border-radius: 5px;" class="form-control" ng-model="test" placeholder="{{'commentAnswer'|translate}}" ng-change="CheckAnswer(key,{'qiID': null,'qiAnswer': test,'isActive': true,'qName': value.qName,'qID': value.qID,'tpID': 1})"/>
                                          <div ng-show="answers.Items[key].qiID == null && answers.Items[key].qiAnswer" style="padding-top:5px;">
                                            <textarea  ng-click="$event.stopPropagation()" stop-event="click" rows="2" style="background-color: lightgoldenrodyellow;border-radius: 5px;" class="form-control" placeholder="{{'Comment'|translate}}"  ng-change="answers.Items[key].qID = value.qID"  ng-model="answers.Items[key].qiComment"/>
                                          </div>
                                    </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                      </div>
                      <div ng-show="$index == 3 || $index == 7 || $index == 11|| $index == 15 || $index == 19 || $index == 23 || $index == 27" class="col-sm-12 col-md-12 col-xs-12"></div>
                      <div  ng-repeat-end></div>
                </div>
            </div>
          </div>
        </div>
</div>   
